*{
    padding:0;
    margin: 0;

}
/* .home-bg{ 
    background: url(../Images/kerala/kerala12.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
 } */
.text-white a{
color: #fff !important;
}
body{
    background: url(../Images/kerala/kerala5.jpg);
    background-size:cover;
}
.myMargin{
    margin: 25px;
}
.card{
    margin:10px;
}
navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
i{
    color: aqua;
}